/* Add CSS Styling */

.odd {
    background-color: rgb(253, 130, 255);
    font-family: 'Verdana', 'Dejavu Sans', sans-serif;
}

#second {
    color: hsl(256, 100%, 50%);
    font-size: 36px;
}

#third {
    font-size: 24px;
}

#fourth {
    background-color: #14ff6a;
    font-size: 24px;
    font-weight: bold;
}
